body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
}


.bottom-cld {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cld {
    position: absolute;
    right: 300px;
    top: 50px;
}

.img-aman {
    height: 150px;
    width: 150px;
}

.python-skl {
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 30px;
}

.android-skl {
    height: 200px;
    width: 200px;
    float: right;
    margin-left: 30px;
}

.pro {
    font-weight: normal;
    text-decoration: underline;
}

.footer-link {
    color: #11999E;
}


.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}